{% extends 'Basic.html' %}

{% load static %}

{% block title %}
<title>Pricing</title>
{% endblock %}



{%block content%}


<link rel="stylesheet" href='{% static "css1/style.css"%}'>

    <!-- ***** Breadcrumb Area Start ***** -->
    <div class="breadcrumb-area">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcumb--con">
                        <h2 class="title">Pricing</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Pricing</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <!-- Background Curve -->
        <div class="breadcrumb-bg-curve">
            <img src='{% static "img/core-img/curve-5.png" %}' alt="">
        </div>
    </div>
    <!-- ***** Breadcrumb Area End ***** -->


<div id="generic_price_table">   
<section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--PRICE HEADING START-->
                    <div class="price-heading clearfix">
                        <h1></h1>
                    </div>
                    <!--//PRICE HEADING END-->
                </div>
            </div>
        </div>
			
        <div class="container">
		
            
            <!--BLOCK ROW START-->
            <div class="row">
                <div class="col-md-4">
                
                    <!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">
                        
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">
                        
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">
                            
                                <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Basic</span>
                                </div>
                                <!--//HEAD END-->
                                
                            </div>
                            <!--//HEAD CONTENT END-->
                            
                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">    
                                <span class="price">
                                    <span class="sign"></span>
                                    <span class="currency">17000</span>
                                    <span class="cent"></span>
                                    <span class="month"></span>
                                </span>
                            </div>
                            <!--//PRICE END-->
                            
                        </div>                            
                        <!--//HEAD PRICE DETAIL END-->
                        
                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                            <ul>
                                <li><span>8</span> Web Pages</li>
                                <li><span>5</span> Business Emails</li>
                                <li><span>1</span> Contact Form</li>
                                <li><span>1</span> Domain Registration</li>
                                <li><span>1GB</span> Quality Hosting</li>
                                <li><span>Responsive Design</span></li>
                                <li><span>--</span></li>
                                <li><span>--</span></li>
                                <li><span>--</span></li>
                                <li><span>--</span></li>
                                <li><span>--</span></li>
                                
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->
                        
                        <!--BUTTON START
                        <div class="generic_price_btn clearfix">
                            <a class="" href="">Sign up</a>
                        </div>
                        <!--//BUTTON END-->
                        
                    </div>
                    <!--//PRICE CONTENT END-->
                        
                </div>
                
                <div class="col-md-4">
                
                    <!--PRICE CONTENT START-->
                    <div class="generic_content active clearfix">
                        
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">
                        
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">
                            
                                <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Standard</span>
                                </div>
                                <!--//HEAD END-->
                                
                            </div>
                            <!--//HEAD CONTENT END-->
                            
                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">    
                                <span class="price">
                                    <span class="sign"></span>
                                    <span class="currency">25000</span>
                                    <span class="cent"></span>
                                    <span class="month"></span>
                                </span>
                            </div>
                            <!--//PRICE END-->
                            
                        </div>                            
                        <!--//HEAD PRICE DETAIL END-->
                        
                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                            <ul>
                                <li><span>12</span> Web Pages</li>
                                <li><span>10</span> Business Emails</li>
                                <li><span>1</span> Contact Form</li>
                                <li><span>1</span> Domain Registration</li>
                                <li><span>2GB</span> Quality Hosting</li>
                                <li><span>Responsive Design</span></li>
                                <li><span>Google Analytics</span> Integration</li>
								<li><span>.Com</span> Domain Name</li>
								<li><span>Free Basic SEO</span></li>
								<li><span>--</span></li>
								<li><span>--</span></li>
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->
                        
                        <!--BUTTON START
                        <div class="generic_price_btn clearfix">
                            <a class="" href="">Sign up</a>
                        </div>
                        <!--//BUTTON END-->
                        
                    </div>
                    <!--//PRICE CONTENT END-->
                        
                </div>
                <div class="col-md-4">
                
                    <!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">
                        
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">
                        
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">
                            
                                <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Unlimited</span>
                                </div>
                                <!--//HEAD END-->
                                
                            </div>
                            <!--//HEAD CONTENT END-->
                            
                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">    
                                <span class="price">
                                    <span class="sign"></span>
                                    <span class="currency">40000</span>
                                    <span class="cent"></span>
                                    <span class="month"></span>
                                </span>
                            </div>
                            <!--//PRICE END-->
                            
                        </div>                            
                        <!--//HEAD PRICE DETAIL END-->
                        
                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                            <ul>
                                <li><span>20</span> Web Pages</li>
                                <li><span>15</span> Business Emails</li>
                                <li><span>3</span> Forms</li>
                                <li><span>1</span> Domain Registration</li>
                                <li><span>3GB</span> Quality Hosting</li>
                                <li><span>Responsive Design</span></li>
                                <li><span>Google Analytics</span> Integration</li>
								<li><span>.Com</span> Domain Name</li>
								<li><span>SEO Support</span> 3 Months</li>
								<li><span>Social Media Intgration</span></li>
								<li><span>EBook to Promote Website</span></li>
								
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->
                        
                        <!--BUTTON START
                        <div class="generic_price_btn clearfix">
                            <a class="" href="">Sign up</a>
                        </div>
                        <!--//BUTTON END-->
                        
                    </div>
                    <!--//PRICE CONTENT END-->
                        
                </div>
            </div>  
            <!--//BLOCK ROW END-->
            
        </div>
    </section>             
    
</div>
{% endblock %}